/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~bar fixed~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.blockFixe {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  height: 5vh;
  border-bottom: solid 1px #e5e5e5;
  z-index: 1;
}

.searchBar {
  position: fixed;
  top: 0;
  width: 75%;
  height: 5vh;
  margin-left: 12.5%;
  justify-content: space-between;
  background-color: white;
  align-items: center;
}

.spaceIcon {
  width: 8em;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.iconNav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3em;
  height: 100%;
}

.facebook {
  color: #444;
  opacity: .5;
}

.envelope {
  color: #444;
  opacity: .5;
}

.borderIcon {
  border: 1px solid #e5e5e5;
}

.map {
  color: #444;
  opacity: .5;
}

.buttonFixe {
  background-color: #ed008c;
  border: none;
  color: white;
}

.colorWhite {
  color: white;
}

.backgroundPink {
  background-color: #ed008c;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~start utility styles~~~~~~~~~~~~~~~~~~~~~~~~~~~~é */

body {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}

a {
  text-decoration: none;
}

.d-flex {
  display: flex;
}

.f-column {
  flex-direction: column;
}

.j-center {
  justify-content: center;
}

.marginA {
  margin: auto;
}

.colorPink {
  color: #ed008c;
}

.colorWhite {
  color: white;
}

.colorBlack {
  color: black;
}

.backgroundColorGrey {
  background-color: #4c4c4c;
}

.card {
  width: 20%;
  margin: auto;
  align-items: center;
  justify-content:space-between;

}

.textAlign {
  text-align: center;
}

.marginTop {
  margin-top: 0;
}

.marginBlock {
  margin: 2em 0;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Montserrat", sans-serif;
}

nav a {
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-size: 1.8em;
  font-weight: bold;
}

h3 {
  font-size: 1.3em;
}

h4 {
  margin: 0.5em;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~end utility styles~~~~~~~~~~~~~~~~~~~~~~~~~~~é~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~start header styles~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.list {
  list-style-type: none;
  margin-top: 9vh;
}

.sizeNavbar {
  width: 75%;
  margin-left: 10%;
  align-items: center;
}

.designA {
  color: #444;
  transition: .2s;
}

.designA:hover {
  color: #ed008c;
}

.sizeLi {
  justify-content: center;
  margin-left: 2em;
  padding-right: 2em;
}

.borderRight {
  border-right: solid black 1px;
}

div#slider { width: 150%; max-width: 100%;}

@keyframes slidy {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
}

div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  padding: 0;
  font-size: 0;
  text-align: left;
  animation: 30s slidy infinite;
}

div#slider figure img { width: 20%; height: auto; float: left;}

div#slider { width: 100%; max-width: 100%; overflow: hidden; height: 73vh; position: relative;}

.textImg {
  position: absolute;
  color: white;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
}

.sizeParagrapheImg {
  width: 88%;
  margin: auto;
  line-height: 30px;
}

.Bienvenue {
  float: right;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~end header styles~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~start footer styles~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

h4 {
  margin: 2em 0;
}

footer ul {
  padding: 0;
}

footer ul li{
  list-style-type: none;
}

footer ul li a{
  color: white;
}

.sizeFooter {
  width: 75%;
  margin:auto;
  padding-bottom: 2em;
}

.cardFooter {
  width: 25%;
}

.copyright {
  width: 80%;
  margin: auto;
  text-align: center;
  border-top: solid 1px white;
  padding: 1em 0 2em 0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~end footer styles~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~start main styles~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.sizeCard {
  width: 80%;
  margin: auto;
  justify-content: space-between;
}

.iconeSeven {
  margin: 0;
  text-align: center;
}

.aButton {
  background-color: #ffff00;
  border: solid 1px #ffff00;
  border-radius: 4px;
  padding: 0.5em 1.5em;
  color: Black;
}

/* block vidéo */

.blockVideo {
  width: 75%;
  margin: auto;
}

.marginVideo {
  margin-bottom: 4em;
}

/* card section */

.containerCard {
  width: 75%;
  margin: auto;
  justify-content: space-between;
  background-color:
}

.paddingCard {
  padding: 2em 0;
}

.cardPicture {
  width: 23%;
}

.opacityTitle {
  background-color: rgba(0, 0, 0, 0.1);
}

.picture {
  width: 100%;
}

.buttonWhite {
  background-color: white;
  width: 50%;
  padding: 0.5em 0.8em;
  border-radius: 4px;
}

/* timetable */

.sizeTimetable {
  width: 75%;
  margin:auto;
}

.horaires {
  width: 50%;
}

.adresse {
  width: 50%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~end main styles~~~~~~~~~~~~~~~~~~~~~~~~~ */















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
